* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    letter-spacing: 0.3em;
    font-size: 44px;
    font-weight: 200;
    text-align: left;
    margin-left: 10px;
    background-color: beige;
    width: 250px;
    display: inline-block;
}

h1:hover {
    background-color: burlywood;
    border-radius: 5px;
    transform: scale(1.1);
    transition: transform .5s ease;
}

h2 {
    font-size: 22px;
    margin-bottom: 50px;   
    text-align: left;
    margin-left: 10px;
    margin-top: .1rem;
    background-color: antiquewhite;
    width: 250px;
    background-position: center;
    height: 75px;
    letter-spacing: 0.5em;
}

a {
    text-decoration: none;
    color: black;
    max-width: 250px;
}

.square1, .square2, .square3 {
    width: 25%;
    height: 18rem;
    display: inline-block;
    background-color: blanchedalmond;
    margin: 4%;
}

.square3 {
    background-color: white;
}
.square4, .square5, .square6 {
    width: 25%;
    height: 18rem;
    display: inline-block;
    background-color: burlywood;
    margin: 4%;
}

.square5 {
    background-color: white;
}

.square1 a img {
    width: 100%;
    height: 28rem;
    opacity: 95%;
    margin-top: -20px;
    border: 1px solid salmon;
    z-index: 1;
}

.square1 a img:hover {
    transform: scale(1.1);
    opacity: 100%;
    transition: transform .5s ease,
    opacity .5s ease;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 4px darkgray;
}

.square2 a img {
    width: 100%;
    height: 28rem;
    opacity: 95%;
    margin-top: -20px;
}

.square2 a img:hover {
    transform: scale(1.1);
    opacity: 100%;
    transition: transform .5s ease,
    opacity .5s ease;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 4px darkgray;
}

.square3 a img {
    width: 130%;
    height: 20rem;
    opacity: 80%;
    margin-top: 0;
    margin-left: -3rem;
    position: relative;
    bottom: 4.5rem;
    right: 1rem;
    border-radius: 5px;
    border: 1px solid salmon;
}

.square3 a img:hover {
    transform: scale(1.1);
    opacity: 100%;
    transition: transform .5s ease,
    opacity .5s ease;
    border-radius: 5px;
    box-shadow: -3px 3px 6px 4px darkgray;
}

.square4 a img {
    width: 130%;
    height: 28rem;
    opacity: 95%;
    margin-top: -20px;
    margin-left: -1rem;
    margin-bottom: 4rem;
    border: .5px solid salmon;
}

.square4 a img:hover {
    transform: scale(1.1);
    opacity: 100%;
    transition: transform .5s ease,
    opacity .5s ease;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 4px darkgray;
}

.square5 a img {
    width: 33%;
    height: 28rem;
    opacity: 95%;
    margin-top: -20px;
    margin-left: 2.5rem;
    margin-bottom: 4rem;
    border: .5px solid salmon;
}

.square5 a img:hover {
    transform: scale(1.1);
    opacity: 100%;
    transition: transform .5s ease,
    opacity .5s ease;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 4px darkgray;
}