* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    letter-spacing: 0.3em;
    font-size: 44px;
    font-weight: 200;
    text-align: left;
    margin-left: 10px;
    background-color: beige;
    width: 250px;
    display: inline-block;
}

h1:hover {
    background-color: burlywood;
    border-radius: 5px;
    transform: scale(1.1);
    transition: transform .5s ease;
}

h2 {
    font-size: 22px;
    margin-bottom: 50px;   
    text-align: left;
    margin-left: 10px;
    margin-top: .1rem;
    background-color: antiquewhite;
    width: 250px;
    background-position: center;
    height: 75px;
    letter-spacing: 0.5em;
}

a {
    text-decoration: none;
    color: black;
    max-width: 250px;
}

.contact_box {
    background-color: burlywood;
    height: 25rem;
    width: 50%;
    margin: 5rem auto;
    text-align: center;
    display: block;
    box-shadow: 3px 3px 4px 4px gainsboro;
    
}

span {
    width: 50rem;
    position: relative;
    top: 12rem;*/
    margin: auto;
    font-size: 1.5rem;
}

span a:hover {
    background-color: salmon;
    font-size: 110%;
    border-radius: 5px;
    padding: 3px;
    transition: transform .5s ease,
    font-size .5s ease;
}